*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
  line-height: 1.2;
  font-size: 10px;
}

body {
	margin: 0 auto;
	max-width: 1100px;
	padding: 0 2rem 0 2rem;
  font-size: 1.6rem;
}

.school {
	display: inline-block;
}

.hidden {
  display: none;
}

.visible {
  display: visible;
}

.buttons {
	text-align: center;
}

.buttons > button {
  margin-right: 4px;
}

button {
  background: #fff;
  border-radius: 0;
  font-size: 100%;
  padding: .5em .5em;
  min-width: 10rem;
}

button:hover {
  cursor: pointer;
}

#pdf {
	margin-top: 1rem;
}

h1,
h2 {
	text-align: center;
}

table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 2px solid;
}

th,
td {
	padding: 0.8rem;
	border: 1px solid;
	text-align: center;
  word-wrap: break-word;
  width: 9rem;
}

th:nth-child(1) {
	width: 12rem;
}

footer ul {
	padding: 1rem 0;
	text-align: right;
	margin: 0;
}

footer li {
	display: inline-block;
	list-style: none;
	padding-left: .4rem;
}
